.content {
  opacity: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% - 60px);
  width: 100%;
  transition: opacity 0.4s ease;
  padding: 0 20px;
}

.content li {
  padding: 10px;
  border-bottom: 1px #555 solid;
  background: var(--secondary-background-color);
}

.content.show {
  opacity: 1;
}

.hide {
  display: none;
}

.progress-bar {
  background: var(--secondary-background-color);
  border-radius: 13px;
  height: 20px;
  width: 300px;
  padding: 3px;
}

.progress {
  content: '';
  display: block;
  background: var(--primary-color);
  height: 100%;
  border-radius: 9px;
}
